{% extends 'X/base.html' %}
{% load widget_tweaks %}

{% block title %} パスワード再設定 {% endblock %}

{% block content %}
<div class="margin-top-more">
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>パスワードの変更手続きを行います。本人確認のためメールを使用します。</p>
    <p>メールアドレスを入力して、下記の送信ボタンを押してください。</p>
    {% for field in form %}
      <div class="section">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field|add_class:"text-form pass-form" }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="sub-btn">送信</button>

  </form>
  <div class="">
    <p>メールアドレスは登録されたものを使用してください。</p>
    <p>登録されたもの以外ではメールが送信されません。</p>
    <p>困ったことがありましたらシステム管理者にご連絡ください</p>
  </div>
</div>
{% endblock %}